{% extends 'core/base.html' %}

{% block title %}Lista de Entrenadores{% endblock %}

{% block content %}
<h1>Entrenadores</h1>
<a href="{% url 'trainer-create' %}" class="btn btn-primary mb-3">Crear Entrenador</a>
<ul class="list-group">
    {% for trainer in trainers %}
    <li class="list-group-item">
        {{ trainer.user.username }} - {{ trainer.specialization }}
        <a href="{% url 'trainer-update' trainer.pk %}" class="btn btn-sm btn-warning">Editar</a>
        <a href="{% url 'trainer-delete' trainer.pk %}" class="btn btn-sm btn-danger">Eliminar</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}